<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Questionnaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Questionnaire</h1>
	<div class="col-md-4">
		
		<form th:object="${Questionnaire}" th:action="@{save}" action="#" method="post">
			<input type="text" th:field="*{date}" class="form-control"
				placeholder="date" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" th:field="*{titre}" class="form-control"
				placeholder="titre" />
		
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
	</div>
</body>
</html>