<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UserAffecter</title>
    
 
</head>
<body>
	<div class="col-md-4">
		<h1>Questionnaires</h1>
	</div>
	<div class="col-md-4">
		
	</div>
	
    
    <div style="padding:0 20px">
    <table class="table table-striped">
		<tr>

		    <th>nom_User</th>
		    <th>prenom_User</th>
	        <th>email_User</th>
		    <th>telephon</th>
		</tr>  
    	<tr th:each = "User : ${User}">
    		<td th:text="${User.nom_User}"></td>
    		<td th:text="${User.prenom_User}"></td>
    		<td th:text="${User.email_User}"></td>
    		<td th:text="${User.telephon}"></td>
    		<td>
				<span th:each="Questionnaire,iterStat : ${User.Questionnaires}">
					<span th:text="${Questionnaire.titre}"/><th:block th:if="${!iterStat.last}">,</th:block>
				</span>    		
    		</td>
    		<td>
    			<a th:href="@{/addUserQuestionnaire/{id}(id=${User.id_User })}" class="btn btn-success btn-xs">Add Questions</a>
    			
    		</td>
    	</tr>
    </table>
    <a href="/User/add" class="btn btn-success">Add User</a>
	</div>    
</body>
</html>