

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
	

	
	
		 
	<div id="outer">
		 	<div id="header">
			Nom: <b th:text="${User.nom_User}" /> <br/>
			</div>

 		
	<table> 
      <tr>
	 <th>Titre</th> <th> liste des reponses</th><th></th></tr>
	   <tr th:each="Reponse : ${User.Reponse}" >
	   
	   
	
	   <Td>
	   
	   
	   <table>
	   <tr ><th>Questions</th></tr>
	   
	 
	
	   <td th:text="${Reponse.Questions}"/>
	    

	   <td th:text="${Reponse.Choixreponse}"/>
	   </tr>
		
	 
	 
	 </table>
	     
	   
	   </Td>
	   </tr>
	 
</table>
 
</div>

</body>
</html>